body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Product Sans';
	margin: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	background: black;
}

.elevatorA {
	width: 40%;
	height: 75vh;
	margin: 10px;
	position: absolute;
	left: 40px;
	border: 5px solid blue;
	border-radius: 5px;
}

.elevatorB {
	width: 40%;
	height: 75vh;
	margin: 10px;
	position: absolute;
	right: 40px;
	border: 5px solid blue;
	border-radius: 5px;
}

p {
	color: white;
	font-size: 35px;
	text-align: center;
}

.circleA {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: white;
	border: 3px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.circleB {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: white;
	border: 3px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

#a, #k {
	position: absolute;
	left: 25%;
}

#b, #l {
	position: absolute;
	left: 25%; top: 170px;
}

#c, #m {
	position: absolute;
	left: 25%; top: 225px
}

#d, #n {
	position: absolute;
	left: 25%; top: 280px;
}

#e, #o {
	position: absolute;
	left: 25%; top: 335px;
}

#f, #p {
	position: absolute;
	right: 25%;
}

#g, #q {
	position: absolute;
	right: 25%; top: 170px;
}

#h, #r {
	position: absolute;
	right: 25%; top: 225px
}

#i, #s {
	position: absolute;
	right: 25%; top: 280px;
}

#j, #t {
	position: absolute;
	right: 25%; top: 335px;
}

.position {
	color: white;
	position: absolute;
	bottom: 20px; left: 50%;
	font-size: 25px;
}